{% extends 'base.html.twig' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
    <h1>Мои заказы</h1>

    <a href="{{ path('app_client_order_new') }}">Создать новый заказ</a>

    <table border="1">
        <thead>
            <tr>
                <th>ID заказа</th>
                <th>Дата</th>
                <th>Блюд</th>
                <th>Сумма</th>
                <th>Файлов</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.createdAt|date('d.m.Y H:i') }}</td>
                <td>{{ order.dishes|length }}</td>
                <td>{{ order.totalPrice }} руб.</td>
                <td>{{ order.files|length }}</td>
                <td>
                    <a href="{{ path('app_client_order_show', {'id': order.id}) }}">Просмотр</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">У вас пока нет заказов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}