{% extends 'base.html.twig' %}

{% block title %}Добавить блюдо{% endblock %}

{% block body %}
    <h1>Добавить блюдо</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>

        <div class="form-group">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
            <small>Допустимые форматы: JPG, PNG. Максимальный размер: 2MB</small>
        </div>

        <button class="btn btn-primary">Сохранить</button>
        <a href="{{ path('app_dish_index') }}" class="btn btn-secondary">Отмена</a>
    {{ form_end(form) }}
{% endblock %}